/* CONTACT SECTION */ 

#contact {
    box-sizing: border-box;
    border-top: #333 solid 0.1em;
    /* background-color: yellow; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.divLeft {
    background-color: #333;
    height: 75%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* LEFT SECTION */

form {
    /* margin: 0; */
    box-sizing: border-box;
    /* background-color: yellow; */
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    box-sizing: border-box;
    padding: 10px;
    width: 75%;
    font-size: 1.2em;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

#submitBtn {
    padding: 10px;
    width: 50%;
    font-size: 1.5em;
    /* font-family: Raleway; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 1em 1em 1em 1em;
    cursor: pointer;
    color: #333;
}

.errorMessage {
    color: rgba(255, 0, 0, 0.75);
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: 0.1em; */
}

.formH4 {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    letter-spacing: 0.1em;
}

.successMessage {
    color: yellowgreen;
}

/* RIGHT SECTION*/

.divRight {
    background-color: #333;
    height: 75%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.iconDiv {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.iconDiv div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.iconDiv a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.iconDiv img {
    width: 50%;
}

#profile-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding: 0.5em;
    color: rgba(30, 143, 255, 0.75);
    background-color: white;
    border-radius: 1em 1em 1em 1em;

}

.footerH3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin: 10px 0 20px 0;
    letter-spacing: 0.1em;
}
