.moved-up {
    transform: translateY(-100%);
    transition: transform 0.75s;
}
  
nav {
    box-sizing: border-box;
    background-color: #333;
    border-bottom: solid white 0.1em;
    padding: 10px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform 0.75s;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    display: block;
}

nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.25em;
    margin: 0;
}

nav ul li a:hover {
    transform: scale(1.1);
}
  
.hide {
    transform: translateY(-100%);
}
  
.show {
    transform: translateY(0);
}
