#projects {
  box-sizing: border-box;
  height: 100vh;
  width: 75%;
  /* padding: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
